### Stage12 정렬 
###### ❌ ✔

#### ✔단계1 : 2750번(수 정렬하기1)

- **문제** : N개의 수가 주어졌을 때, 이를 오름차순으로 정렬하는 프로그램을 작성하시오.

- **입력** : 첫째 줄에 수의 개수 N(1 ≤ N ≤ 1,000)이 주어진다. 둘째 줄부터 N개의 줄에는 수가 주어진다. 이 수는 절댓값이 1,000보다 작거나 같은 정수이다. 수는 중복되지 않는다.

- **출력** : 첫째 줄부터 N개의 줄에 오름차순으로 정렬한 결과를 한 줄에 하나씩 출력한다.

- **예제 입출력** 
    - 입력1
        - `5`
        - `5`
        - `2`
        - `3`
        - `4`
        - `1`
        
    - 출력1
        - `1`
        - `2`
        - `3`
        - `4`
        - `5`

In [1]:
n = int(input())
N = []
for _ in range(n) :
    N.append(int(input()))

N.sort()

for k in N :
    print(k, sep='/n')

 5
 5
 2
 3
 4
 1

1
2
3
4
5

---

#### ✔단계2 : 2587번(대표값2)

- **문제** : 어떤 수들이 있을 때, 그 수들을 대표하는 값으로 가장 흔하게 쓰이는 것은 평균이다. 평균은 주어진 모든 수의 합을 수의 개수로 나눈 것이다. 예를 들어 10, 40, 30, 60, 30의 평균은 (10 + 40 + 30 + 60 + 30) / 5 = 170 / 5 = 34가 된다. 평균 이외의 또 다른 대표값으로 중앙값이라는 것이 있다. 중앙값은 주어진 수를 크기 순서대로 늘어 놓았을 때 가장 중앙에 놓인 값이다. 예를 들어 10, 40, 30, 60, 30의 경우, 크기 순서대로 늘어 놓으면 10 30 30 40 60이 되고 따라서 중앙값은 30이 된다. 

- **입력** : 첫째 줄부터 다섯 번째 줄까지 한 줄에 하나씩 자연수가 주어진다. 주어지는 자연수는 100 보다 작은 10의 배수이다.


- **출력** : 첫째 줄에는 평균을 출력하고, 둘째 줄에는 중앙값을 출력한다. 평균과 중앙값은 모두 자연수이다.


- **예제 입출력** 
    - 입력1
        - `10`
        - `40`
        - `30`
        - `60`
        - `30`
        
        
    - 출력1
        - `34`
        - `30`

In [6]:
N = []
for _ in range(5) :
    N.append(int(input()))

N.sort()

s = 0
for i in range(5) :
    s += N[i]
    
# 평균 출력
print(s//5)

# 중앙값 출력
print(N[2])

 10
 40
 30
 60
 30

34
30

---

#### ✔단계3 : 25305번(커트라인)

- **문제** : 2022 연세대학교 미래캠퍼스 슬기로운 코딩생활에 
$N$명의 학생들이 응시했다. 이들 중 점수가 가장 높은 
$k$명은 상을 받을 것이다. 이 때, 상을 받는 커트라인이 몇 점인지 구하라.

커트라인이란 상을 받는 사람들 중 점수가 가장 가장 낮은 사람의 점수를 말한다.


- **입력** : 첫째 줄에는 응시자의 수 
$N$과 상을 받는 사람의 수 
$k$가 공백을 사이에 두고 주어진다.

둘째 줄에는 각 학생의 점수 
$x$가 공백을 사이에 두고 주어진다.



- **출력** : 상을 받는 커트라인을 출력하라.

- **예제 입출력** 
    - 입력1
        - `5 2`
        - `100 76 85 93 98`
        
    - 출력1
        - `98`

In [11]:
n, k = map(int, input().split())
score = list(map(int, input().split()))
score.sort(reverse=True)
print(score[k-1])

 5 2
 100 76 85 93 98

98

---

#### ✔단계4 : 2751번(수 정렬하기 2)

- **문제** : N개의 수가 주어졌을 때, 이를 오름차순으로 정렬하는 프로그램을 작성하시오.

- **입력** : 첫째 줄에 수의 개수 N(1 ≤ N ≤ 1,000,000)이 주어진다. 둘째 줄부터 N개의 줄에는 수가 주어진다. 이 수는 절댓값이 1,000,000보다 작거나 같은 정수이다. 수는 중복되지 않는다.

- **출력** : 첫째 줄부터 N개의 줄에 오름차순으로 정렬한 결과를 한 줄에 하나씩 출력한다.

- **예제 입출력** 
    - 단계1과 같으나 범위가 커졌음

In [ ]:
import sys
n = int(sys.stdin.readline())
N = []
for _ in range(n) :
    N.append(int(sys.stdin.readline()))

N.sort()

for k in N :
    print(k, sep='/n')

---

#### ❌단계5 : 10989번(수 정렬하기 3)

- **문제** : N개의 수가 주어졌을 때, 이를 오름차순으로 정렬하는 프로그램을 작성하시오.

- **입력** : 첫째 줄에 수의 개수 N(1 ≤ N ≤ 1,000,000)이 주어진다. 둘째 줄부터 N개의 줄에는 수가 주어진다. 이 수는 절댓값이 1,000,000보다 작거나 같은 정수이다. 수는 중복되지 않는다.

- **출력** : 첫째 줄부터 N개의 줄에 오름차순으로 정렬한 결과를 한 줄에 하나씩 출력한다.

- **예제 입출력** 
    - 단계1과 같으나 범위가 다름

In [ ]:
# 메모리 초과
import sys
n = int(sys.stdin.readline())
N = []
for _ in range(n) :
    N.append(int(sys.stdin.readline()))

N.sort()

for k in N :
    print(k, sep='/n')

In [ ]:
# 카운팅 정렬 사용
import sys
n = int(input())
# 입력받는 숫자는 범위가 작으므로 0이 10000개인 리스트를 만들어준다. 
b = [0] * 10001

for i in range(n) :
    # 한번 나타날 때마다 1씩 더한다. 
    b[int(input())] += 1
    
for i in range(10001) :
    if b[i] != 0 :
        # b가 더해진 개수만큼 인덱스를 출력한다. 
        for j in range(b[i]) :
            print(i)

In [ ]:
# 카운팅 정렬 사용
import sys
n = int(sys.stdin.readline())
# 입력받는 숫자는 범위가 작으므로 0이 10000개인 리스트를 만들어준다. 
b = [0] * 10001

for i in range(n) :
    # 한번 나타날 때마다 1씩 더한다. 
    b[int(sys.stdin.readline())] += 1
    
for j in range(10001) :
    if b[i] != 0 :
        # b가 더해진 개수만큼 인덱스를 출력한다. 
        for j in range(b[i]) :
            print(i)

---

#### ✔단계6 : 2108번(통계학)

- **문제** : 

- **입력** : 

- **출력** : 

- **예제 입출력** 
    - 입력1

        
    - 출력1

---

#### ✔단계7 : 1427번(소트인사이드)

- **문제** : 배열을 정렬하는 것은 쉽다. 수가 주어지면, 그 수의 각 자리수를 내림차순으로 정렬해보자.

- **입력** : 첫째 줄에 정렬하려고 하는 수 N이 주어진다. N은 1,000,000,000보다 작거나 같은 자연수이다.

- **출력** : 첫째 줄에 자리수를 내림차순으로 정렬한 수를 출력한다.

- **예제 입출력** 
    - 입력1
        - `2143`
        
    - 출력1
        - `4321`

In [19]:
n = input()
n_list = []
for i in range(len(n)) :
    n_list.append(n[i])
n_list.sort(reverse=True)

for j in n_list :
    print(j, end='')

 500613009

965310000

---

#### ✔단계8 : 11650번(좌표 정렬하기)

- **문제** : 2차원 평면 위의 점 N개가 주어진다. 좌표를 x좌표가 증가하는 순으로, x좌표가 같으면 y좌표가 증가하는 순서로 정렬한 다음 출력하는 프로그램을 작성하시오.

- **입력** : 첫째 줄에 점의 개수 N (1 ≤ N ≤ 100,000)이 주어진다. 둘째 줄부터 N개의 줄에는 i번점의 위치 xi와 yi가 주어진다. (-100,000 ≤ xi, yi ≤ 100,000) 좌표는 항상 정수이고, 위치가 같은 두 점은 없다.

- **출력** : 첫째 줄부터 N개의 줄에 점을 정렬한 결과를 출력한다.

- **예제 입출력** 
    - 입력1
        - `5`
        - `3 4`
        - `1 1`
        - `1 -1`
        - `2 2`
        - `3 3`
        
    - 출력1
        - `1 -1`
        - `1 1`
        - `2 2`
        - `3 3`
        - `4 4`

In [32]:
n = int(input())
N = []
for _ in range(n) :
    nn = list(map(int, input().split()))
    N.append(nn)
    
N.sort()

for k in N :
    for l in k :
        print(l, end=' ')
    print()

 5
 3 4
 1 1
 1 -1
 2 2
 3 3

1 -1
1 1
2 2
3 3
3 4

---

#### ✔단계9 : 11651번(좌표 정렬하기2)

- **문제** : 2차원 평면 위의 점 N개가 주어진다. 좌표를 y좌표가 증가하는 순으로, y좌표가 같으면 x좌표가 증가하는 순서로 정렬한 다음 출력하는 프로그램을 작성하시오.

- **입력** : 첫째 줄에 점의 개수 N (1 ≤ N ≤ 100,000)이 주어진다. 둘째 줄부터 N개의 줄에는 i번점의 위치 xi와 yi가 주어진다. (-100,000 ≤ xi, yi ≤ 100,000) 좌표는 항상 정수이고, 위치가 같은 두 점은 없다.

- **출력** : 첫째 줄부터 N개의 줄에 점을 정렬한 결과를 출력한다.

- **예제 입출력** 
    - 입력1
        - `5`
        - `0 4`
        - `1 2`
        - `1 -1`
        - `2 2`
        - `3 3`

        
    - 출력1
        - `1 -1`
        - `1 2`
        - `2 2`
        - `0 3`
        - `0 4`

---

#### ✔단계10 : 1181번(단어 정렬)

- **문제** : 

- **입력** : 

- **출력** : 

- **예제 입출력** 
    - 입력1

        
    - 출력1

---

#### ✔단계11 : 10814번(나이순 정렬)

- **문제** : 

- **입력** : 

- **출력** : 

- **예제 입출력** 
    - 입력1

        
    - 출력1

---

#### ✔단계12 : 18870번(좌표 압축)

- **문제** : 

- **입력** : 

- **출력** : 

- **예제 입출력** 
    - 입력1

        
    - 출력1